*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
 .navbar{
    background-color: #333;
    padding: 20px 20px;
    position: relative;
}
.logo{
    color: white;
    font-size: 24px;
}
.menu-toggle,
.submenu-toggle{
    display: none;
}
.dropdown-btn{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.dropdown-menu{
    list-style: none;
    background-color: #333;
    padding: 10px 0;
    display: none;
    flex-direction: column;
}
.dropdown-menu li{
    position: relative;
}
.dropdown-menu a,
.dropdown-menu label{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
}
.dropdown-menu a:hover,
.dropdown-menu label:hover{
    background-color: #555;
}
.submenu{
    list-style: none;
    display: none;
    background-color: #444;
    padding: 0 20px;
}
.submenu a,
.submenu label{
    padding: 10px 20px;
}
.menu-toggle:checked + .dropdown-btn + .dropdown-menu{
    display: flex;
}
.submenu-toggle:checked + label +.submenu{
    display: block;
}



@media(max-width:769px){
    .dropdown-btn{
        display: none;
    }
    .dropdown-menu{
        display: none;
    }
}
@media(max-width:768px){
    .dropdown-btn{
        display: block;
    }
}
